<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input placeholder="vardas" type="text">
    <input placeholder="slaptazodis" type="password">
    <button type="submit">Pateikti</button>
</body>
</html>